body {
    background-color: #232323;
    font-family: 'Press Start 2P', cursive;
}

#text-area {
    color: #FFB000;
    font-size: 18px;
    font-weight: bolder;
    background-color: #232323;
    width: 95vw;
    height: 95vh;
    border: none; /*I don't want a border*/
    outline: none; /*removes border that shows up in browser when typing in text area*/
}

#text-area::placeholder {
    color: #FFB000;
    opacity: 0.50; /*This equals 50%*/
}